.flex-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.content {
  height: 100vh;
  overflow: hidden;
  background-image: radial-gradient(closest-side, #eb694e, rgba(235, 105, 78, 0)), radial-gradient(closest-side, #f30b40, rgba(243, 11, 64, 0)), radial-gradient(closest-side, #feea83, rgba(254, 234, 131, 0)), radial-gradient(closest-side, #aa8ef5, rgba(170, 142, 245, 0)), radial-gradient(closest-side, #f8be93, rgba(248, 190, 147, 0));
  background-size: 600rpx 600rpx,
        800rpx 800rpx,
        700rpx 700rpx,
        700rpx 700rpx,
        900rpx 900rpx;
  background-repeat: no-repeat;
  animation: movement 8s linear infinite;
}
.content .main-chick {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(80rpx);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.content .main-chick .main-title {
  width: 100%;
  height: 300rpx;
  margin-top: 100rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.content .main-chick .main-title .title-icon {
  width: 200rpx;
  height: 200rpx;
}
.content .main-chick .main-title .title-icon img {
  width: 100%;
  height: 100%;
}
.content .main-chick .main-title > view:nth-child(2) {
  font-weight: bolder;
  font-size: large;
  color: white;
}
.content .main-chick .main-title > view:nth-child(3) {
  font-weight: 300;
  color: white;
  font-size: small;
  width: auto;
}
.content .main-chick .main-icon {
  width: 500rpx;
  height: 500rpx;
}
.content .main-chick .main-icon img {
  width: 100%;
  height: 100%;
}
.content .main-chick .main-bottom {
  width: 100%;
  height: 550rpx;
  background: rgba(255, 255, 255, 0.4);
}
.content .main-chick .main-bottom swiper {
  height: 400rpx;
}
.content .main-chick .main-bottom swiper swiper-item {
  height: 400rpx;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.content .main-chick .main-bottom swiper swiper-item > view:nth-child(1) {
  font-size: 60rpx;
  font-weight: 800;
  width: auto;
}
.content .main-chick .main-bottom swiper swiper-item > view:nth-child(2) {
  font-size: small;
  color: gray;
  width: auto;
  max-width: 80%;
  margin-top: 20rpx;
}
.content .main-chick .main-bottom .wave-main {
  width: 100%;
  height: 150rpx;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .main-chick .main-bottom .wave-main .wave-btn {
  width: 200rpx;
  height: 80rpx;
  margin: 0 auto;
  position: relative;
  border: none;
  border-radius: 20rpx;
  line-height: 80rpx;
  background: linear-gradient(90deg, #f8be93, #feea83);
  color: white;
  overflow: hidden;
}
.content .main-chick .main-bottom .wave-main > .wave-btn:nth-child(2) {
  background: linear-gradient(90deg, #aa8ef5, #55e7fc);
}
.content .main-chick .main-bottom .wave-main span {
  position: absolute;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 50%;
  top: 778px;
  left: 99px;
  z-index: 999;
  pointer-events: none;
  animation: wave linear 1s infinite;
}
@keyframes wave {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 12rem;
    height: 12rem;
    opacity: 0;
  }
}
@keyframes movement {
  0% {
    background-position: 400rpx -50rpx, 500rpx 300rpx, -250rpx 600rpx, 200rpx 700rpx, -300rpx 0rpx;
  }
  25% {
    background-position: 300rpx 100rpx, 350rpx 400rpx, -50rpx 700rpx, 100rpx 900rpx, -200rpx -100rpx;
  }
  50% {
    background-position: 200rpx 150rpx, 500rpx 600rpx, 0rpx 500rpx, 200rpx 700rpx, 0rpx -150rpx;
  }
  75% {
    background-position: 300rpx 100rpx, 800rpx 300rpx, -100rpx 750rpx, 300rpx 500rpx, -150rpx -50rpx;
  }
  100% {
    background-position: 400rpx -50rpx, 500rpx 300rpx, -250rpx 600rpx, 200rpx 700rpx, -300rpx 0rpx;
  }
}
